/*Ttle & Navigation Bar*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #312a26;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
    font-family: 'Oswald', sans-serif;
}

p,
label,
span,
a 
{
    font-family: 'Open Sans', sans-serif;
}

a:hover 
{
    color: #c7a17a;
}

body 
{
    width: 100%;
}

.nav
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav h1 
{
    width: 50%;
    float: left;
    font-size: 25px;
}

.nav ul 
{
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 8px;
    font-weight: bolder;
    font-size: small;
}

.nav li 
{
    display: inline-block;
}

.nav a 
{
    text-decoration: none;
}

/*Banner*/