/*Ttle & Navigation Bar*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #312a26;
}

h1,h2,h3,h4,h5,h6 
{
    font-family: 'Oswald', sans-serif;
}

p,label,span,a 
{
    font-family: 'Open Sans', sans-serif;
}

a:hover 
{
    color: #c7a17a;
}

body 
{
    width: 100%;
}

.nav
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav h1 
{
    width: 50%;
    float: left;
    font-size: 25px;
}

.nav ul 
{
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 8px;
    font-weight: bolder;
    font-size: small;
}

.nav li 
{
    display: inline-block;
}

.nav a 
{
    text-decoration: none;
}

/*Banner*/
.banner 
{
    margin-bottom: 5%;
    height: 520px;
    background-image: url('../images/atf-image.jpg');
    background-size: cover;
    background-position: center;
}

.image1 
{
    position: relative;
    width: 38%;
    top: 20%;
    left: 7.5%;
}

.banner h2 
{
    text-transform: uppercase;
    font-size: 55px;
    line-height: 60px;
    font-weight: 900;
}

.banner a 
{
    padding: 15px 20px;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #312a26;
    color: white;
}

.banner span 
{
    color: #4caf59;
}

.banner p 
{
    font-style: italic;
    font-size: small;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
}

.sub-banner 
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.sub-bannerimage 
{
    width: 49.5%;
    float: left;
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.sub-bannerimage:nth-child(1), .sub-bannerimage:nth-child(3) 
{
    margin-right: 1%;
}

.sub-bannerimage:nth-child(1), .sub-bannerimage:nth-child(2) 
{
    margin-bottom: 1%;
}

.sub-bannerimage:nth-child(1) 
{
    background-image: url('../images/merchandise1.jpg');
}

.sub-bannerimage:nth-child(2) 
{
    background-image: url('../images/merchandise2.jpg');
}

.sub-bannertext h3 
{
    width: 80%;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 40%;
    padding-bottom: 10px;
    line-height: 110%;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.sub-bannertext a {
    padding-left: 10%;
    padding-right: 40%;
    text-transform: uppercase;
    color: white;
    font-size: small;
}

/*Merchandise*/
.merchandise-text
{
    text-align: center;
    overflow: auto;
}

.merchandise-box 
{
    color: #312a26;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.merchandise-text p 
{
    text-transform: capitalize;
    color: #c7a17a;
    font-style: oblique;
}

.merchandise-text h2 
{
    text-transform: uppercase;
    color:#312a26;
    font-size: 38px;
    padding-top: 8px;
}

.merchandise-text hr 
{
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 5%;
}

.merchandise-box 
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
}

.product p 
{
    color: #c7a17a;
    font-size: small;
}

.product 
{
    display: inline-block;
    margin: auto;
}

.product image
{
    margin-top: 20px;
    width: 314.8px;
    height: fit-content;
}

.product image:nth-child(1), .product image:nth-child(2), .product image:nth-child(3) 
{
    margin-right: 5px;
}

.product h3 
{
    font-size: medium;
}

/*Second Banner*/
.sub-banner2 
{
    height: 320px;
    width: 85%;
    background-color: orange;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 7.5%;
}

.banner2-content 
{
    text-align: center;
    padding-top: 7%;
}

.banner2-content p 
{
    color: #c7a17a;
    font-style: oblique;
    font-size: 20px;
}

.banner2-content h2 
{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 8px;
}

.banner2-content a 
{
    padding: 13px 15px;
    background-color: white;
    color: #312a26;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: small;
    margin-top: 15px;
}

