/*Ttle & Navigation Bar*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #312a26;
}

h1,h2,h3,h4,h5,h6 
{
    font-family: 'Oswald', sans-serif;
}

p,label,span,a 
{
    font-family: 'Open Sans', sans-serif;
}

a:hover 
{
    color: #c7a17a;
}

body 
{
    width: 100%;
}

.nav
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav h1 
{
    width: 50%;
    float: left;
    font-size: 25px;
}

.nav ul 
{
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 8px;
    font-weight: bolder;
    font-size: small;
}

.nav li 
{
    display: inline-block;
}

.nav a 
{
    text-decoration: none;
}

/*Banner*/
.banner 
{
    margin-bottom: 5%;
    height: 520px;
    background-image: url('../images/atf-image.jpg');
    background-size: cover;
    background-position: center;
}

.image1 
{
    position: relative;
    width: 38%;
    top: 20%;
    left: 7.5%;
}

.banner h2 
{
    text-transform: uppercase;
    font-size: 55px;
    line-height: 60px;
    font-weight: 900;
}

.banner a 
{
    padding: 15px 20px;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #312a26;
    color: white;
}

.banner span 
{
    color: #4caf59;
}

.banner p 
{
    font-style: italic;
    font-size: small;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
}

.sub-banner 
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.sub-bannerimage 
{
    width: 49.5%;
    float: left;
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.sub-bannerimage:nth-child(1), .sub-bannerimage:nth-child(3) 
{
    margin-right: 1%;
}

.sub-bannerimage:nth-child(1), .sub-bannerimage:nth-child(2) 
{
    margin-bottom: 1%;
}

.sub-bannerimage:nth-child(1) 
{
    background-image: url('../images/merchandise1.jpg');
}

.sub-bannerimage:nth-child(2) 
{
    background-image: url('../images/merchandise2.jpg');
}

.sub-bannertext h3 
{
    width: 80%;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 40%;
    padding-bottom: 10px;
    line-height: 110%;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.sub-bannertext a {
    padding-left: 10%;
    padding-right: 40%;
    text-transform: uppercase;
    color: white;
    font-size: small;
}

/*Merchandise*/
.merchandise-text
{
    text-align: center;
    overflow: auto;
}

.merchandise-box 
{
    color: #312a26;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.merchandise-text p 
{
    text-transform: capitalize;
    color: #c7a17a;
    font-style: oblique;
}

.merchandise-text h2 
{
    text-transform: uppercase;
    color:#312a26;
    font-size: 38px;
    padding-top: 8px;
}

.merchandise-text hr 
{
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 5%;
}

.merchandise-box 
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
}

.product p 
{
    color: #c7a17a;
    font-size: small;
}

.product 
{
    display: inline-block;
    margin: auto;
}

.product image
{
    margin-top: 20px;
    width: 314.8px;
    height: fit-content;
}

.product image:nth-child(1), .product image:nth-child(2), .product image:nth-child(3) 
{
    margin-right: 5px;
}

.product h3 
{
    font-size: medium;
}

/*Second Banner*/
.sub-banner2 
{
    height: 320px;
    width: 85%;
    background-color: orange;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 7.5%;
}

.banner2-content 
{
    text-align: center;
    padding-top: 7%;
}

.banner2-content p 
{
    color: #c7a17a;
    font-style: oblique;
    font-size: 20px;
}

.banner2-content h2 
{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 8px;
}

.banner2-content a 
{
    padding: 13px 15px;
    background-color: white;
    color: #312a26;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: small;
    margin-top: 15px;
}

.merchandise2 {
    text-align: center;
    overflow: auto;
}

.merchandise2 p {
    text-transform: capitalize;
    color: #c7a17a;
    font-style: oblique;
}

.merchandise2 h2 {
    text-transform: uppercase;
    color:#312a26;
    font-size: 38px;
    padding-top: 8px;
}

.merchandise2 hr {
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 3%;
}

/*Product 2*/
.merchandise-box2 
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
    margin-bottom: 4%;
}

.product2 p 
{
    color: #c7a17a;
    font-size: small;
}

.product2 
{
    display: inline-block;
    margin: auto;
}

.product2 img 
{
    margin-top: 20px;
    width: 314.8px;
    height: fit-content;
}

.product2 img:nth-child(1), .product2 img:nth-child(2), .product2 img:nth-child(3) 
{
    margin-right: 5px;
}

.product2 h3 
{
    font-size: medium;
}


/*Word Merchandise*/
.ads1 
{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ads-box1 
{
    width: 49.5%;
    float: left;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-color: #312a26;
    position: relative;

}

.ads-text1 
{
    padding-left: 10%;
    padding-right: 45%;
    text-transform: uppercase;
    width: 85%;
}

.ads-text1 h3 
{
    padding-top: 42%;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
}

.ads-text1 a 
{
    color: white;
    font-size: small;
}

.ads-box1:nth-child(1), .ads-box1:nth-child(3) 
{
    margin-right: 1%;
}

.ads-box1:nth-child(1), .ads-box1:nth-child(2) 
{
    margin-bottom: 1%;
}

.ads-box1:nth-child(1) 
{
    background-image: url(../images/merchandise3.jpg);
}

.ads-box1:nth-child(2) 
{
    background-image: url(../images/merchandise4.jpg);
}

.ads-box1:nth-child(3) 
{
    background-image: url(../images/merchandise5.jpg);

}

.ads-box1:nth-child(4) 
{
    background-image: url(../images/merchandise6.jpg);
}

/*Reservation Form*/
.reservation 
{
    color: #312a26;
    width: 85%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.reservation-area h2 
{
    text-align: center;
    font-size: 38px;
    padding-top: 8px;
    color: #312a26;
    text-transform: uppercase;
}

.reservation-area hr 
{
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 5%;
}

.reservation-box {
    overflow: auto;
    margin-bottom: 0%;
}
.reservation-box label,
.reservation-box input, 
.reservation-box textarea,
.reservation-box select {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.reservation-box input,
.reservation-box textarea,
.reservation-box select {
    padding: 10px;
    margin-bottom: 10px;
}
/* Res-Box 1 */
.res-box1, .res-box2 
{
    width: 49.5%;
    float: left;
    background-color: #f2f2f2;
    padding: 2%;
    border-radius: 5px;
}

.res-box1 
{
    margin-right: 1%;
}

.res-box1 label 
{
    font-weight: bold;
    font-size: small;
}

.res-text 
{
    line-height: 10px;
    padding: 10px;
}

.res-box1 input 
{
    font-size: 10px;
}

.morning 
{
    padding-left: 10px;
}

.morning label, .morning input 
{
    display: inline;
    width: 10px;
}

.res-box2 label 
{
    font-weight: bold;
    font-size: small;
}

.res-box2 textarea 
{
    max-width: 100%;
    max-height: 150px;
}

.res-box2 input 
{
    font-size: 10px;
}

.payment 
{
    text-align: center;
}

.payment h3 
{
    font-size: 15px;
}

.payment p 
{
    font-size: small;
}

.agree input, .agree label 
{
    width: 10px;
    display: inline;
}

.res-box2 button 
{
    width: 96%;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: #4caf59;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/*Bottom Banner*/
.bottom 
{
    width: 100%;
    height: 275px;
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: small;
}

.bottom h2 
{
    font-size: medium;
    color: white;
}

.bottom h3 
{
    color: white;
}

.bottom h4 
{
    color: white;
}

.bottom p 
{
    color: white;
}

.bottom a 
{
    color: #c7a17a;
    text-decoration: none;
}

.opening 
{
    float: left;
    width: 21.5%;
    margin-left: 7%;
    padding-top: 2%;
    line-height: normal;
    color: white;
}

.opening h2 
{
    text-transform: uppercase;
}

.opening th 
{
    text-align: center;
    color: white;
}

.opening td, .opening tbody 
{
    color: white;
}

.latest 
{
    float: left;
    padding-top: 2%;
    width: 21.5%;
    margin: auto;
    color: white;
}

.latest h2 
{
    padding-top: 3%;
    text-transform: uppercase;
}

.latest h4 
{
    text-transform: uppercase;
}

.latest p 
{
    color: #c7a17a;
}

.contact 
{
    float: left;
    padding-top: 2%;
    width: 21.5%;
}

.contact h2 
{
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 5%;
}

.contact a, .contact p 
{
    font-weight: bold;
}

.contact h3 
{
    padding-bottom: -50%;
    padding-top: 5%;
    text-transform: uppercase;
}

.contact form 
{
    padding-top: -10%;
}

.standard input 
{
    height: 30px;
}

.standard button 
{
    height: 30px;
    width: 45px;
    font-size: 10px;
    background-color: #c7a17a;
    border: none;
}